.card{
    color: white;
    margin: 1rem;
    background:#181818;
}
.space{
  margin-bottom: 2rem;
}
.content{
  margin-left: 5%;
  margin-right: 5%;
}
.fav{
  margin-top: 3rem;
}
.page{
  text-align: center;
}