.artiste{margin-right: 15%;
  margin-left: 15%;}
.artisteImg {border-radius: 50%;} 
.space{margin-bottom: 2rem;}
.albumsArtiste{
    color: white;
    margin: 1rem;
    background:#181818;
}
.content{
  margin-left: 5%;
  margin-right: 5%;
}
.artistCard{
  color: white;
  background:#181818;
}
.fav{
  margin-top: 3rem;
}