
body{
	background-color:  #121212;
	color: white;
}
.link{
	/*color: black;*/
	color: white;
}
.link:hover{
	/*color: darkred;*/
	color: red;
}
.link-card{
  color: white;
}
.link-card:hover{
  color: red;
  /*color: darkred;*/
}