/* Carousel base class */
.carousel .space{
  margin-bottom: 02rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 20rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 100%;
}

.artistes {border-radius: 50%;} 
.content{
  margin-left: 5%;
  margin-right: 5%;
}
.card{color: white;margin: 1rem;background:#181818;}
