{% extends "base.html" %}
{% block css %}
<link href="../static/css/artisteId.css" rel="stylesheet">
{% endblock %}
{% block main %}
    <h1>Select the element you wish to add in the database</h1>
    <div>
        <a href="{{url_for('add_artist')}}">Add Artist</a>
        <a href="{{url_for('add_album')}}">Add Album</a>
        <a href="{{url_for('add_genre')}}">Add Genre</a>
    </div>
{% endblock %}