{% extends "base.html" %}
{% block css %}
<link href="../static/css/albumId.css" rel="stylesheet">
{% endblock %}
{% block main %}
    <h1>Insert the informations needed to insert an album in the database</h1>
    <form role="form" method="POST" action="{{ url_for('adding_album') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label }} {{ form.title(size=50,class_="form-control") }}
            {{ form.releaseYear.label }} {{ form.releaseYear(size=50,class_="form-control") }}
        </div>
        <input class="btn btn-default" type="submit" value="Enregistrer">
    </form>
{% endblock %}
