{% extends "base.html" %}
{% block css %}
<link href="../static/css/artisteId.css" rel="stylesheet">
{% endblock %}
{% block main %}
    <h1>Insert the name of the artist you want to insert in the database</h1>
    <form role="form" method="POST" action="{{ url_for('adding_artist') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }} {{ form.name(size=50,class_="form-control") }}
        </div>
        <input class="btn btn-default" type="submit" value="Enregistrer">
    </form>
{% endblock %}
