{% extends "base.html" %}
{% block css %}
<link href="../static/css/albumId.css" rel="stylesheet">
{% endblock %}
{% block main %}
<div class="container">
<div class="row">
	<div class="col-md">
		<div class="album">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="deezer-tab" data-bs-toggle="tab" data-bs-target="#deezer" type="button" role="tab" aria-controls="deezer" aria-selected="True">
						<img src="../static/img/deezer_logo.jpeg" width="50" height="50">
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="spotify-tab" data-bs-toggle="tab" data-bs-target="#spotify" type="button" role="tab" aria-controls="spotify" aria-selected="True">
						<img src="../static/img/spotify_logo.png" width="50" height="50">
					</button>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="deezer" role="tabpanel" aria-labelledby="deezer-tab">
					<iframe title="deezer-widget" src="https://widget.deezer.com/widget/auto/album/{{album.deezerId}}" width="100%" height="600" frameborder="0" allowtransparency="true" allow="encrypted-media; clipboard-write"></iframe>
				</div>
				<div class="tab-pane fade" id="spotify" role="tabpanel" aria-labelledby="spotify-tab">
					<iframe src="https://open.spotify.com/embed/album/{{album.spotifyId}}?utm_source=generator&theme=0" width="100%" height="600" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md">
		<div class="card album">
			<div class="row">
				<img src="../static/images/{{album.img}}" class="card-img-top" alt="album image" width="50">
				<div class="card-body">
					<h4 class="card-title ">{{album.title}} • {{album.releaseYear}}</h4>
					<p class="card-text text-dark"><a class="link" href="/artist/{{album.artist.id}}">{{album.artist.name}}</a></p>
					{% for genre in album.genres %}
					<p class="card-text text-muted d-inline-block"><a class="link" href="/genre/{{genre.id}}">• {{genre.name}}</a> </p>
                	{% endfor %}
            	</div>
        	</div>
			<a href="{{url_for('edit_album', id=album.id)}}" class="link">Edit Album</a>
			<a href="{{url_for('delete_album', id=album.id)}}" class="link">Delete Album</a>
		</div>
    </div>
</div>
</div>
{% endblock %}
