{% extends "base.html" %}
{% block css %}
<link href="../static/css/albums.css" rel="stylesheet">
{% endblock %}
{% block main %}
<div class="container">
    <div class="row justify-content-center space">
        <p class="text-center">Top Albums</p>
        {% for topAlbum in topAlbums %}
        <div class="card  border-gray" onclick="window.location.href='/album/{{topAlbum.id}}'" style="width: 15rem;">
            <div class="card-header">
            <h5 class="card-title">{{topAlbum.title}} • {{topAlbum.releaseYear}}</h5>
        </div>
            <img src="../static/images/{{topAlbum.img}}"/>
            <div class="card-body">
                <h6 class="card-subtitle"><a class="link-card" href="/artist/{{topAlbum.artist.id}}">{{topAlbum.artist.name}}</a></h6>
                {% for genre in topAlbum.genres %}
                <h7 class="card-text"><a class="link-card" href="/genre/{{genre.id}}">• {{genre.name}}</a> </h7>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row border-bottom border-secondary border-5 space "></div>
</div>
<div class="container-fluid ">
    <div class="row justify-content-center content">
        <a href="{{url_for('add_album')}}" class="link">Add Album</a>
        {% for album in data.items %}
        <div class="card  img-fluid" onclick="window.location.href='/album/{{album.id}}'" style="width: 15rem;">
            <div class="card-header">
            <h5 class="card-title">{{album.title}} • {{album.releaseYear}}</h5>
        </div>
            <img src="../static/images/{{album.img}}"/>
            <div class="card-body">
                <h6 class="card-subtitle"><a class="link-card" href="/artist/{{album.artist.id}}">{{album.artist.name}}</a></h6>
                {% for genre in album.genres %}
                <h7 class="card-text"><a class="link-card" href="/genre/{{genre.id}}">• {{genre.name}}</a> </h7>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div >
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example" class="pagination">
    <ul class="pagination">

      {% for page_num in data.iter_pages() %}
      {% if page_num %}
      <li class="page-item"><a class="page-link" href="{{ url_for('pageAlbums', page=page_num)}}">{{ page_num }}</a></li>
      {% else %}
      ...
      {% endif %}
      {% endfor %}

    </ul>
  </nav>
</div>
{% endblock %}