{% extends "base.html" %}
{% block css %}
<link href="../static/css/artistes.css" rel="stylesheet">
{% endblock %}
{% block main %}
<div class="container">
    <div class="row justify-content-center space">
        <p class="text-center">Top Artists</p>
        {% for topArtist in topArtists %}
        <div class="card  border-gray" onclick="window.location.href='/artist/{{topArtist.id}}'" style="width: 15rem;">
            <div class="card-header">
            <h5 class="card-title">{{topArtist.name}}</h5>
        </div>
            <img src="../static/photo_artists/{{topArtist.photo}}" class="artistes" alt="artistes">
            <div class="card-body">
                {% for genre in topArtist.genres %}
                <h6 class="card-subtitle"><a class="link-card" href="/genre/{{genre.id}}">• {{genre.name}}</a> </h6>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
       </div> 
    <div class="row border-bottom border-secondary border-5 space "></div>
</div>
<div class="container-fluid ">
    <div class="row justify-content-center content">
    <a href="{{url_for('add_artist')}}" class="link">Add Artist</a>
    {% for artist in data.items %}
	<div class="card  border-gray" onclick="window.location.href='/artist/{{artist.id}}'" style="width: 15rem;">
            <div class="card-header">
            <h5 class="card-title">{{artist.name}}</h5>
        </div>
            <img src="../static/photo_artists/{{artist.photo}}" class="artistes" alt="artistes">
            <div class="card-body">
                {% for genre in artist.genres %}
                <h6 class="card-subtitle"><a class="link-card" href="/genre/{{genre.id}}">• {{genre.name}}</a> </h6>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example" class="pagination">
    <ul class="pagination">

      {% for page_num in data.iter_pages() %}
      {% if page_num %}
      <li class="page-item"><a class="page-link" href="{{ url_for('pageArtists', page=page_num)}}">{{ page_num }}</a></li>
      {% else %}
      ...
      {% endif %}
      {% endfor %}

    </ul>
  </nav>
</div>
{% endblock %}