{% extends "base.html" %}
{% block css %}
<link href="../static/css/artisteId.css" rel="stylesheet">
{% endblock %}
{% block main %}
<div class="container">
<div class="row space">
    <div class="col-md">
        <div class="artiste">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="deezer-tab" data-bs-toggle="tab" data-bs-target="#deezer" type="button" role="tab" aria-controls="deezer" aria-selected="True">
                        <img src="../static/img/deezer_logo.jpeg" width="50" height="50">
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="spotify-tab" data-bs-toggle="tab" data-bs-target="#spotify" type="button" role="tab" aria-controls="spotify" aria-selected="True">
                        <img src="../static/img/spotify_logo.png" width="50" height="50">
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="deezer" role="tabpanel" aria-labelledby="deezer-tab">
                    <iframe title="deezer-widget" src="https://widget.deezer.com/widget/auto/artist/{{artist.deezerId}}/top_tracks" width="100%" height="600" frameborder="0" allowtransparency="true" allow="encrypted-media; clipboard-write"></iframe>
                </div>
                <div class="tab-pane fade" id="spotify" role="tabpanel" aria-labelledby="spotify-tab">
                    <iframe src="https://open.spotify.com/embed/artist/{{artist.spotifyId}}?utm_source=generator&theme=0" width="100%" height="600" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card artiste artistCard">
            <div class="row">
                <img src="../static/photo_artists/{{artist.photo}}" class="card-img-top artisteImg" alt="orelsan-civilisation.jpeg" width="50">
                <div class="card-body">
                    <h4 class="card-title">{{artist.name}}</h4>
                    {% for genre in artist.genres %}
                    <p class="card-text text-muted d-inline-block"><a class="link" href="/genre/{{genre.id}}">• {{genre.name}}</a> </p>
                    {% endfor %}
                </div>
            </div>
        <a href="{{url_for('edit_artist', id=artist.id)}}" class="link">Edit Artist</a>
        <a href="{{url_for('delete_artist', id=artist.id)}}" class="link">Delete Artist</a>
        </div>
    </div>
</div>
<div class="row border-bottom border-secondary border-5 space"></div>
</div>
<div class="container-fluid ">
    <div class="row justify-content-center content">
        {% for album in albumArtist%}
        <div class="card  albumsArtiste  img-fluid" onclick="window.location.href='/album/{{album.id}}'" style="width: 15rem;">
            <div class="card-header">
            <h5 class="card-title">{{album.title}} • {{album.releaseYear}}</h5>
        </div>
            <img src="../static/images/{{album.img}}"/>
            <div class="card-body">
                <h6 class="card-subtitle"><a class="link-card" href="/artist/{{album.artist.id}}">{{album.artist.name}}</a></h6>
                {% for genre in album.genres %}
                <h7 class="card-text"><a class="link-card" href="/genre/{{genre.id}}">• {{genre.name}}</a> </h7>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

{% endblock %}
