{% extends "base.html" %}
{% block css %}
<link href="/static/css/artistes.css" rel="stylesheet">
{% endblock %}
{% block main %}
<div class="container-fluid ">
    <div class="row justify-content-center content">
    {% for artist in data.items %}
	<div class="card  border-gray" onclick="window.location.href='/artist/{{artist.id}}'" style="width: 15rem;">
            <div class="card-header">
            <h5 class="card-title">{{artist.name}}</h5>
        </div>
            <img src="/static/photo_artists/{{artist.photo}}" class="artistes" alt="artistes">
            <div class="card-body">
                {% for genreA in artist.genres %}
                <h6 class="card-subtitle"><a class="link-card" href="/genre/{{genreA.id}}">• {{genreA.name}}</a> </h6>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example" class="pagination">
    <ul class="pagination">

      {% for page_num in data.iter_pages() %}
      {% if page_num %}
      <li class="page-item"><a class="page-link" href="{{ url_for('pageArtistsGenres',id=idGenre.id, page=page_num)}}">{{ page_num }}</a></li>
      {% else %}
      ...
      {% endif %}
      {% endfor %}

    </ul>
  </nav>
</div>
{% endblock %}