{% extends "base.html" %}
{% block css %}
<link href="../static/css/albumId.css" rel="stylesheet">
{% endblock %}
{% block main %}
    <h1>Delete album: {{ album.title }}</h1>
    <form role="form" method="POST" action="{{ url_for('deleting_album') }}">
        {{ form.hidden_tag() }}
        <p>Do you want to delete this album?</p>
        <input class="btn btn-default" type="submit" value="Yes">
    </form>
{% endblock %}
