{% extends "base.html" %}
{% block css %}
<link href="../static/css/genreId.css" rel="stylesheet">
{% endblock %}
{% block main %}
    <h1>Delete genre: {{ genre.name }}</h1>
    <form role="form" method="POST" action="{{ url_for('deleting_genre') }}">
        {{ form.hidden_tag() }}
        <p>Do you want to delete this genre?</p>
        <input class="btn btn-default" type="submit" value="Yes">
    </form>
{% endblock %}
