{% extends "base.html" %}
{% block css %}
<link href="../static/css/artisteId.css" rel="stylesheet">
{% endblock %}
{% block main %}
    <h1>Delete artist: {{ artist.name }}</h1>
    <form role="form" method="POST" action="{{ url_for('deleting_artist') }}">
        {{ form.hidden_tag() }}
        <p>Do you want to delete this artist?</p>
        <input class="btn btn-default" type="submit" value="Yes">
    </form>
{% endblock %}
