{% extends "base.html" %}
{% block css %}
<link href="../static/css/albumId.css" rel="stylesheet">
{% endblock %}
{% block main %}
    <h1>Edit album: {{ album.title }}</h1>
    <form role="form" method="POST" action="{{ url_for('save_album') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label }} {{ form.title(size=50,class_="form-control") }}
            {{ form.releaseYear.label }} {{ form.releaseYear(size=50,class_="form-control") }}
            {{ form.spotifyId.label }} {{ form.spotifyId(size=50,class_="form-control") }}
            {{ form.deezerId.label }} {{ form.deezerId(size=50,class_="form-control") }}
        </div>
        <input class="btn btn-default" type="submit" value="Enregistrer">
    </form>
{% endblock %}
