{% extends "base.html" %}
{% block css %}
<link href="../static/css/artisteId.css" rel="stylesheet">
{% endblock %}
{% block main %}
    <h1>Edit artist: {{ artist.name }}</h1>
    <form role="form" method="POST" action="{{ url_for('save_artist') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }} {{ form.name(size=50,class_="form-control") }}
        </div>
        <input class="btn btn-default" type="submit" value="Enregistrer">
    </form>
{% endblock %}


<!--
    <form role="form" method="POST" action="{{ url_for('add_artist', id=artist.id) }}">
-->