{% extends "base.html" %}
{% block css %}
<link href="/static/css/genreId.css" rel="stylesheet">
{% endblock %}
{% block main %}
<div class="container">
    <div class="row justify-content-center space">
        <p class="text-center">{{idGenre.name}}</p>
        <a href="{{url_for('edit_genre', id=idGenre.id)}}" class="link">Edit Genre</a>
        <a href="{{url_for('delete_genre', id=idGenre.id)}}" class="link">Delete Genre</a>
        <p class="text-center">Albums</p>
        {% for album in albums %}
        <div class="card  border-gray" onclick="window.location.href='/album/{{album.id}}'" style="width: 15rem;">
            <div class="card-header">
                <h5 class="card-title">{{album.title}} • {{album.releaseYear}}</h5>
            </div>
            <img src="../static/images/{{album.img}}"/>
            <div class="card-body">
                <h6 class="card-subtitle"><a class="link-card" href="/artist/{{album.artist.id}}">{{album.artist.name}}</a></h6>
                {% for genre in album.genres %}
                <h7 class="card-text"><a class="link-card" href="/genre/{{genre.id}}">• {{genre.name}}</a> </h7>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <button class="btn btn-dark" onclick="window.location.href='/albums/genre/{{idGenre.id}}'"><img src="/static/images/plus.png"></button>
    </div>
    <div class="row border-bottom border-secondary border-5 space "></div>
</div>
<div class="container">
    <div class="row justify-content-center space">
        <p class="text-center">Artists</p>
        {% for artist in artists %}
        <div class="card  border-gray" onclick="window.location.href='/artist/{{artist.id}}'" style="width: 15rem;">
            <div class="card-header">
                <h5 class="card-title">{{artist.name}}</h5>
            </div>
                <img src="../static/photo_artists/{{artist.photo}}" class="artistes" alt="artistes">
                <div class="card-body">
                    {% for genre in artist.genres %}
                    <h6 class="card-subtitle"><a class="link-card" href="/genre/{{genre.id}}">• {{genre.name}}</a> </h6>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-dark" onclick="window.location.href='/artists/genre/{{idGenre.id}}'"><img src="/static/images/plus.png"></button>
    </div> 
</div>
{% endblock %}