{% extends "base.html" %}
{% block css %}
<link href="../static/css/genres.css" rel="stylesheet">
{% endblock %}
{% block main %}
<div class="container-fluid ">
    <div class="row justify-content-center content">
        <a href="{{url_for('add_genre')}}" class="link">Add Genre</a>
    {% for genre in data.items %}
	<div class="card  border-gray" onclick="window.location.href='/genre/{{genre.id}}'" style="width: 15rem;">
        <div class="card-body">
            <h6 class="card-title">• {{genre.name}} </h6>
        </div>
    </div>
    {% endfor %}
    </div>
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example" class="pagination">
    <ul class="pagination">

      {% for page_num in data.iter_pages() %}
      {% if page_num %}
      <li class="page-item"><a class="page-link" href="{{ url_for('pageGenres', page=page_num)}}">{{ page_num }}</a></li>
      {% else %}
      ...
      {% endif %}
      {% endfor %}

    </ul>
  </nav>
</div>
{% endblock %}