{% extends "base.html" %}
{% block css %}
<link href="../static/css/home.css" rel="stylesheet">
{% endblock %}
{% block main %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../static/img/gris.png" class="img-fluid" alt="gris.png">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../static/img/gris.png" class="img-fluid" alt="gris.png">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../static/img/gris.png" class="img-fluid" alt="gris.png">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
    <div class="row justify-content-center space">
        <p class="text-center">Top Artistes</p>
        {% for artist in artists %}
    <div class="card  border-gray" onclick="window.location.href='/artist/{{artist.id}}'" style="width: 15rem;">
            <div class="card-header">
            <h5 class="card-title">{{artist.name}}</h5>
        </div>
            <img src="../static/photo_artists/{{artist.photo}}" class="artistes" alt="artistes">
            <div class="card-body">
                {% for genre in artist.genres %}
                <h6 class="card-subtitle"><a class="link-card" href="/genre/{{genre.id}}">• {{genre.name}}</a> </h6>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
       </div> 
    <div class="row border-bottom border-secondary border-5 space "></div>
    <div class="row justify-content-center space">
        <p class="text-center">Top Albums</p>
        {% for album in albums %}
        <div class="card  border-gray" onclick="window.location.href='/album/{{album.id}}'" style="width: 15rem;">
            <div class="card-header">
            <h5 class="card-title">{{album.title}} • {{album.releaseYear}}</h5>
        </div>
            <img src="../static/images/{{album.img}}"/>
            <div class="card-body">
                <h6 class="card-subtitle"><a class="link-card" href="/artist/{{album.artist.id}}">{{album.artist.name}}</a></h6>
                {% for genre in album.genres %}
                <h7 class="card-text"><a class="link-card" href="/genre/{{genre.id}}">• {{genre.name}}</a> </h7>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}