{% extends "base.html" %}
{% block css %}
<link href="../static/css/connexion.css" rel="stylesheet">
{% endblock %}
{% block main %}
  <div class="text-center form-signin connexion">
    <form>
      <img class="mb-4" src="../static/img/Musica_Arca_logo.png" alt="" width="72" height="57">
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="UseName">
        <label for="floatingInput">UserName</label>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Inscription</button>
      <button class="w-100 btn btn-lg btn-secondary" onclick="window.location.href='/connexion'" type="button">se  connecter</button>
    </form>
  </div>
{% endblock %}