{% extends "base.html" %}
{% block css %}
<link href="../static/css/albumId.css" rel="stylesheet">
{% endblock %}
{% block main %}
    <h1>The album's title has been changed to "{{ album.title }}"</h1>
    <h1>The album's release year has been changed to "{{ album.releaseYear }}"</h1>
{% endblock %}